@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: var(--font-body), sans-serif;
}

@layer base {
  :root {
    --background: 0 0% 96.1%; /* #F5F5F5 */
    --foreground: 222.2 84% 4.9%;
    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
    --primary: 197 71% 52%; /* #29ABE2 */
    --primary-foreground: 0 0% 100%;
    --secondary: 0 0% 93%;
    --secondary-foreground: 222.2 47.4% 11.2%;
    --muted: 0 0% 93%;
    --muted-foreground: 222.2 84% 4.9% / 0.5;
    --accent: 197 100% 72%; /* #70D6FF */
    --accent-foreground: 222.2 47.4% 11.2%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;
    --ring: 197 71% 52%;
    --chart-1: 197 71% 52%;
    --chart-2: 197 100% 72%;
    --chart-3: 197 80% 62%;
    --chart-4: 197 90% 67%;
    --chart-5: 197 60% 47%;
    --radius: 0.5rem;
  }
 
  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 0 0% 98%;
    --card: 222.2 84% 4.9%;
    --card-foreground: 0 0% 98%;
    --popover: 222.2 84% 4.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 197 71% 52%;
    --primary-foreground: 0 0% 100%;
    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 0 0% 98%;
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;
    --accent: 197 100% 72%;
    --accent-foreground: 222.2 47.4% 11.2%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 197 71% 52%;
    --chart-1: 197 71% 52%;
    --chart-2: 197 100% 72%;
    --chart-3: 197 80% 62%;
    --chart-4: 197 90% 67%;
    --chart-5: 197 60% 47%;
  }
}
 
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
